body { font-family:  Arial, sans-serif;
    font-size: 11pt;
    color: black;
    background-color: white;
 }

header {
display: block;
background-color: rgba(0,0,100,0.5);
text-align: center;      
font-size:  12pt;
}

nav {
/*background-color: lightgray;*/
list-style-type : none;
/*padding-bottom : 5px; */
margin-left : 0;
}

nav ul{
display: table;
width: 300px;
margin: 10px auto;
padding: 0;
}


nav ul li {
display: table-cell;
list-style-type: none;
padding: 5px;
margin: 5px;

float : left;
height : 21px;  
background-color: rgba(142, 124, 223, 0.5); 
margin : 2px 2px 0 2px   
border : 1px solid #9EA0A1;
}

nav li:hover 
{ 
background-color: #FAAC58;
color: white; 
}

article {
display: block;
margin: auto;
padding: 10px;
width: 60%;
background-color: white;
text-align: justify;
}

label { display: inline-block;
width : 80px; 
text-align : left;
font-weight: bold;
margin-left: 15px;
}
input.bouton { background-color : rgba(0,250,200,0.5); 
       font-weight: bold;
       color : black; 
       margin-top: 15px; 
      }
